.sprint_backlogItem_cards {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sprint_buttons:hover{
    background: lightgray;
}

.sprint_buttons:active,
.sprint_buttons:focus{
    box-shadow: none;
}